#navBar{
	height: 110px;
	margin: auto;
  	width: 100%;
  	padding: 10px;
  	margin-top: 10px;


  	border-bottom-style: outset;
}

#searchbox{
	margin-left: 40%;
  	width: 40%;
  	float: left;

}

#regpart{
	float: right;
}

.tosearch{
	border: none;
	  border-bottom-style: solid;
  		border-bottom-color: lightslategrey;
  		border-width: 2px;
	  width: 250px; 
	  height: 50px
}

.todrop{
	border: none;
	border-left-style: solid;
  	border-left-color: coral;
	  width: 80px; 
	  height: 30px
}

.searchbutton{
	  margin-left: 10%;
	  margin-top: 10px;
	  border-radius: 15px;
	  border-bottom-style: outset;
	  width: 200px; 
	  height: 30px
}

#leftside{
	line-height:30px;
    background-color:#eeeeee;
    height: 100%;
    width:600px;
    float:left;
    padding:5px;
}

#map{
	float: right;
	width: 70%;
	position:relative;
}


#img2 {
    position: absolute;
    left: 750px;
    top: 900px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.TitleSize {
	font-size:160%
}

#signUp {
	font-size: 160%;
	margin-top: 200px;
	text-align: center;
	color: tomato;
	
}

#logIn {
	font-size: 160%;
	margin-top: 200px;
	text-align: center;
	color: tomato;
	
}

#InputBox {
	margin-top: 50px;
	text-align: center;
	
}