.header{
	padding-top: 10px;
	height: 110px;
  	width: 100%;


  	border-bottom-style: outset;
}

.navBar{
	margin-right: auto;
	text-align: center;
}

.navBar a:link{
	color:lightcoral;
	background-color: transparent;
}

.navBar a:visited{
	color:green;
	background-color: transparent;
}
.navBar a:hover{
	color:black;
	background-color: transparent;
}
.navBar a:active{
	color:lightblue;
	background-color: transparent;
}
#searchbox{
	margin-left: 40%;
  	width: 40%;
  	float: left;

}

#regpart{
	float: right;
}

.tosearch{
	border: none;
	border-bottom-style: solid;
  	border-bottom-color: lightslategrey;
  	border-width: 2px;
	width: 250px; 
	height: 50px
}

.todrop{
	border: none;
	border-left-style: solid;
  	border-left-color: coral;
	width: 80px; 
	height: 30px
}

.searchbutton{
	margin-left: 10%;
	margin-top: 10px;
	border-radius: 15px;
	border-bottom-style: outset;
	width: 200px; 
	height: 30px
}

.bottom{
	width: 100%;
	height: 1300px;
}

.leftside{
	float: left;
	height: 100%;
  	width: 40%;
  	background-color: lightgrey;
}

#map{
	background-image: url('images/map.png');
	height: 100%;
  	width:60%;
  	float: right;
}

#movingbutton{
	width: 130px;
  	position: fixed;
  	z-index: 1;
  	top: 20px;
  	left: 10px;
  	background: #eee;
  	overflow-x: hidden;
  	padding: 8px 0;
}

.footer{
	padding-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	clear: none;
}




.TitleSize {
	font-size:160%
}

/*Make inputs looks like in one box, set margin around the box, and set the padding inside the box*/
.borderForInputs{
	width: 30%;
	min-width: 300px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 100px;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;

}
.captionForInoutBoxes {
	font-size: 160%;
	margin-top: auto;
	text-align: center;
	color: tomato;
}


.InputBox {
	margin-top: auto;
	padding-top: 25px;
	text-align: center;
	
}



@media only screen and (max-width:961px) {
	/* For tablets: */
	.InputBox, #map, .leftside {
		width: 100%;
	}
	
  }

@media only screen and (max-width:320px) {
	/* For mobile phones: */
	.InputBox, .header, #map, .footer, .leftside {
		width: 100%;
	}
  }