html, body{
    margin:0;
    padding:0;
    height: 100%;
	width:100%;
}

.notice{
	color: #00c3ff;
	font-size: 0.9em;
}

.error{
	color: #FF0000;
	font-size: 0.9em;
}

form{
	display:inline;
}

.header{
	padding-top: 10px;
	height: 15%;
  	width: 100%;
  	border-bottom-style: outset;
}

.navBar{
	margin-right: auto;
	text-align: center;
	animation: fadeInDown;
	animation-duration: 1s;
}

.navBar a:link{
	color:lightcoral;
	background-color: transparent;
}

.navBar a:visited{
	color:green;
	background-color: transparent;
}
.navBar a:hover{
	color:black;
	background-color: transparent;
}
.navBar a:active{
	color:lightblue;
	background-color: transparent;
}
#searchbox{
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 30px;
  	width: 40%;
  	float: left;
	text-align: center;
	position:absolute;
	animation: slideInDown;
	animation-duration:1s;
}

#searchbox #currentlocation{
	background-image: url(images/gps_btn.png);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
	position: absolute;
	margin-top: 15px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#currentlocation:hover{
	animation: rubberBand;
  	animation-duration: 0.5s;
}

#regpart{
	margin-right:10px;
	display:inline;
	position:relative;
	float:right;
}


.reg:hover{
	animation: rubberBand;
  	animation-duration: 0.5s;
}

.info_content{
	animation:zoomIn;
	animation-duration: 1s;
}

.tosearch{
	border: none;
	border-radius: 15px;
	border-bottom-style: solid;
  	border-bottom-color: lightslategrey;
  	border-width: 2px;
	width: 250px; 
	height: 50px
}

.todrop{
	border: none;
	border-radius: 10px;
	border-left-style: solid;
  	border-left-color: coral;
	width: 80px; 
	height: 30px
}

.searchbutton{
	margin-left: 10%;
	margin-top: 10px;
	border-radius: 15px;
	border-bottom-style: outset;
	width: 75px; 
	height: 30px
}

.searchbutton:hover{
	animation: rubberBand;
  	animation-duration: 0.5s;
}

#submitButton:hover{
	animation:rubberBand;
	animation-duration: 0.5s;
}

#logInButton:hover{
	animation:rubberBand;
	animation-duration: 0.5s;
}

#resetButton:hover{
	animation:rubberBand;
	animation-duration: 0.5s;
}

.newobj:hover{
	animation:rubberBand;
	animation-duration: 0.5s;
}



.locationButton{
	border-radius: 15px;
	border-bottom-style: outset;
	width: 80px; 
	height: 30px;
	float:right;
}


.leftside{
	position: absolute;
	text-align: center;
	float: left;
  	width: 30%;
	background-color: white;
	overflow-y: scroll;
	height:85%;
	animation: fadeInLeft;
	animation-duration: 1s;
	
}
table{
	border: 1px solid black;
}

#restaurant table{
	width : 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#rest_detail{
	width : 80%!important;
	margin-left: 10%;
	margin-right: 10%;
}

.leftside::-webkit-scrollbar {
  	display: none;
}

.rightside{
	width: 70%;
	height:85%;
	float:right;
}


#map{
	width: 100%;
	height: 85vh;
}


#individualMap{
	width: 100%;
	height: 85vh;
}

#yummy{
	display: none;
	padding-top: 100px;
	width: 90%;
	margin: auto;
  	border: 3px solid lightgrey;
  	box-shadow: 5px 8px lightslategrey;
  	padding: 10px;
}

#yummy:hover{
	animation: pulse;
  	animation-duration: 2s;
}
#yummyimg{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 90%;
  	border: 1px solid lightgrey;
  	border-radius: 5px;
}

.ratestar{
	padding-left: 25px;
}
.checked {
  color: red;
}


#textbox {
    display: none;
    border:1px solid #000;
    height:auto;
    width:250px;
    margin-left:480px;
    background-color: ghostwhite;
}

a:hover + #textbox {
    display: block;
}
.movingbtn {
	position: fixed; 
	float: left;
	bottom: 0;
}


.footer{
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	clear: none;
	border-top: 1px solid black;
	background-color: white;
}




.TitleSize {
	font-size:160%
}

/*Make inputs looks like in one box, set margin around the box, and set the padding inside the box*/
.borderForInputs{
	min-width: 300px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 100px;
	padding: 10px;
	border: 1px solid black;

}
.captionForInoutBoxes {
	font-size: 160%;
	margin-top: auto;
	text-align: center;
	color: tomato;
}


.InputBox {
	margin-top: auto;
	padding-top: 25px;
	text-align: center;
	
}

#rstant_name{
	text-shadow: 2px 2px 5px grey;
}

#geolocation{
	width: 100px;
	height: 100px;
	margin: 50%;
}


.searchresult{
	width: 30%;
	padding-left: 50px;
	text-align: center;
}
input{
	background-color: white;
}

input:focus{
	background-color: lightblue;
}

input:invalid{
	background-color: #ffcccc;
}

input:required{
	border-color: red;
	border-width: 1px;
}


/*Apply new settings to elements/classes/ids when screen width below 1024px*/
@media only screen and (max-width:1024px) {
	/* For tablets: */
	.borderForInputs{
		margin-left:10%;
		margin-right: 10%;
		margin-top: 20px;
		
	}
	.header{
		padding-top: 5px;
		height: 18%;

	}

	.leftside, .rightside{
		height:82%;
		
	}

	.leftside{
		width:45%;
	}

	.rightside{
		width:55%;
	}

	#map{
		height:82vh;
	}

	.tosearch{
		width: 150px;
	}

	#searchbox{
		text-align: left;
		padding-top: 0;
		margin:auto;
		width:200px;
		width: 400px;
	}
	.footer{
		width: 100%;
	}
	
	.TitleSize{
		font-size: 100%;
	}
	#rest_detail{
		margin:auto;
		width:230px;
	}
	textarea{
		width: 230px;
	}
}	

@media only screen and (max-width:667px) {
	.leftside{
		width: 100%;
	}
	.rightside{
		display: none;
	}
}

/*Apply new settings to elements/classes/ids when screen width below 375px*/
@media only screen and (max-width:375px) {

	/* For mobile phones: */
	.leftside, .rightside {
		width: 100%;
		position:absolute;
	}

	#searchbox{
		margin-right:0;
		width: auto;
	}

	.borderForInputs {
		margin-left:10%;
		margin-right: 10%;
		margin-top: 20px;
	}
	.header{
		padding-top: 5px;

	}

	#regpart{
		font-size: 8px;
	}
	.tosearch{
		width: 100px;
	}
	.searchbutton{
		width: 100px;
	}
}