html, body{
    margin:0;
    padding:0;
    height: 100%;
	width:100%;
}

.header{
	padding-top: 10px;
	height: 15%;
  	width: 100%;
  	border-bottom-style: outset;
}

.navBar{
	margin-right: auto;
	text-align: center;
}

.navBar a:link{
	color:lightcoral;
	background-color: transparent;
}

.navBar a:visited{
	color:green;
	background-color: transparent;
}
.navBar a:hover{
	color:black;
	background-color: transparent;
}
.navBar a:active{
	color:lightblue;
	background-color: transparent;
}
#searchbox{
	margin-left: 40%;
  	width: 40%;
  	float: left;

}

#regpart{
	float: right;
}

.tosearch{
	border: none;
	border-bottom-style: solid;
  	border-bottom-color: lightslategrey;
  	border-width: 2px;
	width: 250px; 
	height: 50px
}

.todrop{
	border: none;
	border-left-style: solid;
  	border-left-color: coral;
	width: 80px; 
	height: 30px
}

.searchbutton{
	margin-left: 10%;
	margin-top: 10px;
	border-radius: 15px;
	border-bottom-style: outset;
	width: 200px; 
	height: 30px
}



.leftside{
	position: absolute;
	text-align: center;
	float: left;
  	width: 30%;
	background-color: white;
	overflow-y: scroll;
	height:85%;
	
}
.leftside::-webkit-scrollbar {
  	display: none;
}

.rightside{
	width: 70%;
	height:85%;
	float:right;
}


#map{
	width: 100%;
	height: 85vh;
}

#yummy{
	padding-top: 100px;
	width: 90%;
	margin: auto;
  	border: 3px solid lightgrey;
  	box-shadow: 5px 8px lightslategrey;
  	padding: 10px;

}
#yummyimg{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 90%;
  	border: 1px solid lightgrey;
  	border-radius: 5px;
}

.ratestar{
	padding-left: 25px;
}
.checked {
  color: red;
}


#textbox {
    display: none;
    border:1px solid #000;
    height:auto;
    width:250px;
    margin-left:480px;
    background-color: ghostwhite;
}

a:hover + #textbox {
    display: block;
}
.movingbtn {
	background-color: darkred;
	position: fixed; 
	float: left;
	bottom: 0;
}


.footer{
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	clear: none;
	border-top: 1px solid black;
	background-color: white;
}




.TitleSize {
	font-size:160%
}

/*Make inputs looks like in one box, set margin around the box, and set the padding inside the box*/
.borderForInputs{
	min-width: 300px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 100px;
	padding: 10px;
	border: 1px solid black;

}
.captionForInoutBoxes {
	font-size: 160%;
	margin-top: auto;
	text-align: center;
	color: tomato;
}


.InputBox {
	margin-top: auto;
	padding-top: 25px;
	text-align: center;
	
}

#geolocation{
	width: 100px;
	height: 100px;
	margin: 50%;
}


.searchresult{
	width: 30%;
	padding-left: 50px;
	text-align: center;

}

/*Apply new settings to elements/classes/ids when screen width below 1024px*/
@media only screen and (max-width:1024px) {
	/* For tablets: */
	.borderForInputs{
		margin-left:10%;
		margin-right: 10%;
		margin-top: 20px;
		
	}
	.header{
		padding-top: 40px;
		height: 18%;

	}

	.leftside, .rightside{
		height:82%;
	}

	#searchbox{
		margin-left: auto;
	}
	.footer{
		width: 100%;
	}
}	

/*Apply new settings to elements/classes/ids when screen width below 375px*/
@media only screen and (max-width:375px) {
	/* For mobile phones: */
	.leftside, #map {
		width: 100%;
	}
	.borderForInputs {
		margin-left:10%;
		margin-right: 10%;
		margin-top: 20px;
	}
	.header{
		padding-top: 40px;

	}

	#regpart{
		font-size: 8px;
	}
	.tosearch{
		width: 200px;
	}
	.searchbutton{
		width: 150px;
	}


	
	
}

/*Apply new settings to elements/classes/ids when screen width below 320px*/
@media only screen and (max-width:320px) {
	/* For mobile phones: */

	.borderForInputs {
		width:100%;
	}
	.header{
		padding-top: 40px;

	}
}